body {
  margin: 0;
  background: rgba(0, 0, 0, 0.5);
  font-family: 'Noto Sans KR', sans-serif;
}

.main-wrapper {
  /* 컨텐츠들 배열 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding-top: 80px;
  box-sizing: border-box;

  /* 배경이미지 관련 설정들 */
  background-image: url("img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  color: white;
  min-height: 100vh;
  padding-bottom: 80px;
}

.main-wrapper * {
  position: relative;
  z-index: 1;
}

.main-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}
/*타이틀 화면*/
.title-image {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Serif KR";
  font-size: 50px;
  font-weight: 400;
  color: white;
  opacity: 0.5;
  margin-top: 5px;
  margin-bottom: -25px;
}

.title {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  margin-top: 0;
  padding: 0;

  font-family: "Source Serif Pro";
  font-size: 110px;
  font-weight: 600;
  line-height: 1.1;
  background: radial-gradient(82.67% 82.67% at 50% 50%, #D1A21E 0%, #302504 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  white-space: pre-line;
}

.subtitle {
  text-align: center;
  font-family: "Noto Serif KR";
  font-size: 24px;
  font-weight: 700;
  color: #F5E086;
  margin-top: 0;
  margin-bottom: 30px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px 0;
}

.card {
  width: 150px;
  height: 170px;
  padding: 16px;
  background: #142011;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}

.card-sword {
  outline: 1px solid #59460F;
}

.card-armor {
  outline: 1px solid #213D56;
}

.card-dragon {
  outline: 1px solid #590F0F;
}

.card-title.sword,
.card-tag.sword {
  color: #FBBF24;
}
.card-title.armor,
.card-tag.armor {
  color: #60A5FA;
}
.card-title.dragon,
.card-tag.dragon {
  color: #A52B2B;
}

.card-title {
  font-size: 16px;
  font-family: "Noto Serif KR";
  font-weight: 700;
  text-align: center;
}

.card-description {
  font-size: 14px;
  font-family: "Noto Sans";
  font-weight: 500;
  color: #D0D4D9;
  text-align: center;
}

.card-tag {
  font-size: 12px;
  font-family: "Noto Sans";
  font-weight: 500;
  text-align: center;
}

.card img {
  height: 70px;
  object-fit: contain;
}

button.start-button-wrapper {
  width: 490px;
  height: 38px;
  background: #CC8804;
  border-radius: 20px;
  outline: 1px solid #F38C18;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

  /* Remove default button styles */
  border: none;
  padding: 0;
  cursor: pointer;
}

button.start-button-wrapper:focus {
  outline: none;
}

button.start-button-wrapper:hover {
  background: #eaa738;
}

/*프롤로그*/
.prologue-wrapper {
  width: 1920px;
  height: 1080px;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.prologue-character {
  width: 111px;
  height: 134px;
  position: absolute;
  left: 896px;
  top: 229px;
}

.prologue-name {
  position: absolute;
  left: 918px;
  top: 357px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #162364;
  font-size: 24px;
  font-family: "Noto Sans";
  font-weight: 700;
}

.prologue-message-box {
  width: 500px;
  height: 130px;
  position: absolute;
  left: 710px;
  top: 475px;
  background: #142011;
  border-radius: 10px;
  outline: 1px solid #59460F;
  outline-offset: -1px;
  overflow: hidden;
}

.prologue-message {
  position: absolute;
  left: 120px;
  top: 53px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #D0D4D9;
  font-size: 18px;
  font-family: "Noto Sans";
  font-weight: 500;
}

.prologue-button {
  position: absolute;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  font-family: "Noto Sans";
  font-weight: 700;
  text-align: center;
  overflow: hidden;
}

.prologue-button.next {
  width: 80px;
  left: 858px;
  top: 701px;
  background: radial-gradient(ellipse at center, #EA950A 0%, #EA660B 100%);
}

.prologue-button.skip {
  width: 90px;
  left: 955px;
  top: 701px;
  background: radial-gradient(ellipse at center, #B3B3B3 0%, #848484 100%);
}

/* 초기 상태: prologue 숨김 */
#prologue {
  display: none;
}